body{
	margin: 0;
	text-decoration:none;
	padding: 0px;
}
div ul{
	display: inline;
	position: absolute;
	margin-top: 8px;
}
li{
	display: inline;
}
.Head{
	width: 100%;
	height: 35px;
	background-color: #F4F4F4;
}
.dome1{
	margin-left: 176px;
	width: 77%;
	height: 35px;
}
.slogan{
	font-size: 11px;
    color: #666;
    display: inline-block;
    margin: 10px 0 0 14px;
    margin-left: 7px;
}
.font{
	margin-left: 4px;
	font-size: 11px;
	position: absolute;
    margin-top: 2px;
}
.img{
position: absolute;
    margin-left: 60px;
    margin-top: -3px
}
.dome3:hover .dome2{
	display: initial;
	position: absolute;
	margin-top: 33px;
	margin-left: -1px;
	width: 550px;
	height: 290px;
	border: 1px solid #dfe2e2;
	background-color: white;
	z-index: 9999;
}
.dome3{
	width: 105px;
	height: 33px;
	margin-top: -8px;
	margin-left: -23px;
}
.dome3 .dome2{
	display: none;
}
.text{
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
}
.dome3:hover{
	background-color: white;
	border: 1px solid #dfe2e2;
}
.Disorder{
	margin-left: 377px;
	margin-top: 5px;
}
.HeadFont{
	color: #0B6AD0;
    font-size: 12px;
}
.HeadFont1{
	margin-left: 30px;
    font-size: 12px;
    color: #666;
}
.HeadFont2{
	margin-left: 9px;
    font-size: 12px;
    color: #666;
}
.HeadFont3{
    margin-left: 23px;
    margin-top: 8px;
    position: absolute;
}
.HeadFont4{
	position: absolute;
    margin-left: 22px;
    margin-top: 8px;
}
.HeadFont5{
	margin-left: 225px;
}
.picture{
	position: absolute;
    width: 10px;
    height: 16px;
    margin-left: 12px;
    margin-top: 6px;
}
.picture1{
	position: absolute;
	margin-left: 14px;
	margin-top: 4px;
}
.picture2{
	position: absolute;
    width: 10px;
    height: 16px;
    margin-left: 5px;
    margin-top: 6px;
}
.picture3{
	width: 11px;
    position: absolute;
    margin-left: 5px;
    margin-top: 6px;
}
.dome4{
position: absolute;
    margin-left: 6px;
    position: absolute;
    width: 68px;
    background-color: #d6e2f2;
    margin-top: 6px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.dome5{
border-bottom-right-radius: 50%;
    position: absolute;
    width: 15px;
    background-color: #d6e2f2;
    margin-left: 74px;
    margin-top: 6px;
    border-top-right-radius: 50%;
}
.picture4{
margin-left: 102px;
    margin-top: 11px;
}
.picture5{
width: 15px;
    margin-top: 12px;
    margin-left: 9px;
}
.picture6{
    margin-left: 9px;
    width: 19px;
    position: absolute;
    margin-top: 9px;
}
.picture7{
	margin-left: 110px;
}
.picture8{
	position: absolute;
    margin-left: 77px;
    margin-top: 11px;
}
.picture9{
	margin-left: 209px;
}
.picture10{
	margin-left: 13px;
    margin-top: 11px;
}
.Head1{
	width: 100%;
	height: 80px;
}
.Head1Dome{
    margin-left: 177px;
    margin-top: 23px;
    position: absolute;
}
.Headpicture{
	width: 200px;
}
.Head1Dome1{
    border: 1px solid #A4CBFF;
    border-radius: 4px;
    position: absolute;
    margin-top: 26px;
    margin-left: 434px;
    width: 370px;
    background-color: white;
    height: 28px
}
.enter{
    width: 324px;
    border-radius: 4px 0px 0px 4px;
    height: 26px;
    border: 1px solid #A4CBFF;
    margin-left: -1px;
    margin-top: -1px;
}
.search{
	border: 1px solid #A4CBFF;
    background-color: #A4CBFF;
    width: 46px;
    height: 29px;
    margin-top: -1px;
    position: absolute;
    border-radius: 0px 4px 4px 0px;
}
input::-ms-input-placeholder{
	font-size: 12px;
}
input::-webkit-input-placeholder{
	font-size: 12px;
}
.Head1Dome2{
	margin-top: -62px;
    width: 213px;
    height: 44px;
    position: absolute;
    margin-left: 1101px;
        z-index: 10;
}
.table{
	display: block;
	font-size: 12px;
	line-height: 20px;
	color: #666;
}
.Head1picture{
	position: absolute;
    margin-left: 200px;
    margin-top: 23px;
}
ul:hover .table1{
	display: initial;	
	z-index: 99999;
	margin-left: 5px;
}
ul .table1{
	display: none;
}
ul .table4{
	display: none;
}
.table2{
	margin-left: 115px;
}
.table3{
	margin-left: 70px;
}
.Head1Dome2:hover{
	position:absolute;
	height: 100px;
	background-color: white;
	border: 1px solid #9B9B9B;
}
ul:hover .table4{
	margin-left: 40px;
	z-index: 999;
}
.Head2{
    z-index: 9;
    width: 100%;
    height: 40px;
    background-color: #2577E3;
    position: absolute;
}
.Head2Font{
	font-size: 15px;
	color: white;
}
.Head2picture{
	width: 9px;
}

.Head2Displacement{
	margin-left: 239px;
}
.Head2picture1{
    position: absolute;
    width: 40px;
    margin-top: -15px;
    margin-left: -23px;
}
.Head2Dome{
    background-color: #0A56BB;
    width: 51px;
    position: absolute;
    margin-left: 174px;
    height: 40px;
    margin-top: -8px;
}
.Head2Displacement1{
	position: absolute;
    margin-left: 11px;
    margin-top:9px;
}
.Displacement{
	margin-left: -5px;
}
.country{
	width: 550px;
	height: 290px
}
.countryfont{
    margin-top: 2px;
    font-size: 12px;
    color: #9B9B9B;
    position: absolute;
    margin-left: 5px;
}
.countrypicture{
	width: 20px;
	margin-left: 9px;
}
td{
	width: 129px;
}
td:hover{
	background-color: #F4F4F4
}
a{
	text-decoration: none;
}
.linkStyle:hover span{
	color: #0B6AD0;
}
.dome6:hover .dome7{
	border: 1px solid #BEBEBE;
    margin-left: -1px;
    display: initial;
    position: absolute;
    background-color: white;
    width: 56px;
    margin-top: 33px;
    z-index: 10;
}
.dome6 .dome7{
	display: none;
	font-size: 12px;
}
.hide{
	line-height: 30px;
    margin-left: -17px;
    display: block;
}
.divStyle{
    height: 33px;
    margin-left: 210px;
    position: absolute;
    margin-top: -26px;
    width: 96px;
}
.divStyle:hover{
	background-color: white;
	border: 1px solid #BEBEBE;
}
.linkStyle1{
	color: #666
}
.divStyle1{
	width: 96px;
    margin-left: -23px;
}
.fonthide{
	margin-left: 22px;
}
.divStyle1:hover{
	background-color: #F4F4F4;
	color: #287BD4;
}
.dome8:hover .dome9{
border: 1px solid #BEBEBE;
    margin-left: -1px;
    display: initial;
    position: absolute;
    background-color: white;
    width: 80px;
    margin-top: 32px;
}
.dome8 .dome9{
	display: none;
	font-size: 12px;
	line-height: 28px;
}
.divStyle2{
	width: 97px;
    position: absolute;
    margin-left: 308px;
    margin-top: -26px;
    height: 33px;
    z-index: 10;
}
.divStyle2:hover{
	background-color: white;
	border: 1px solid #BEBEBE;
}
.divStyle3{
    margin-left: -40px;
    width: 118px;
}
.divStyle3:hover{
	background-color: #F4F4F4;
	color: #287BD4;
}
.fonthide1{
	margin-left: 22px
}
.divStyle4{
    position: absolute;
    width: 102px;
    margin-left: 482px;
    height: 33px;
    margin-top: -26px;
}
.dome10:hover .dome11{
border: 1px solid #BEBEBE;
    display: initial;
    position: absolute;
    background-color: white;
    width: 61px;
    margin-top: 33px;
    z-index: 9999;

}
.dome10 .dome11{
	display: none;
	font-size: 12px;
	line-height: 28px;
}
.divStyle4:hover{
	background-color: #2577E3;
	border: 1px solid #BEBEBE;
}
.divStyle5{
	margin-left: -40px;
    width: 101px;
    margin-top: -1px;
    height: 28px;
}
.divStyle5:hover{
	background-color: #F4F4F4;
	color: #287BD4;
}
.divStyle6{
    border-bottom: 1px solid white;
    margin-left: 585px;
    position: absolute;
    width: 33px;
    margin-top: -27px;
    height: 33px;
}
.dome13:hover .dome14{
	display: initial;
	position: absolute;
}
.dome13 .dome14{
	display: none;

}
.dome14{
	width: 137px;
    margin-left: -105px;
    display: initial;
    position: absolute;
    border: 1px solid #BEBEBE;
    margin-top: 34px;
    z-index: 9999;
    height: 180px;
    font-size: 12px;
    color: #9B9B9B;
    background-color: white;
}
.dome15{
	height: 29px;
    margin-top: 9px;
    background-color: #97bbf7;
}
.fonthide2{
	font-size: 13px;
    margin-left: 21px;
    margin-top: 2px;
    position: absolute;
    color: white;
}
.divStyle6:hover{
	border: 1px solid #BEBEBE;
	border-bottom: white;
	background-color: white;
	z-index: 9999
}
.hrstyle{
    width: 36px;
    border-bottom: 1px solid white;
    margin-top: -153px;
    position: absolute;
    margin-left: 103px;
}
.dome16:hover .dome17{
	display: initial;
	position: absolute;
	z-index: 999
}
.dome16 .dome17{
	display: none;
	border: 1px solid #BEBEBE;
    width: 137px;
    margin-top: 33px;
    margin-left: -103px;
    height: 180px;
    z-index: 9999;
    background-color: white
}
.divStyle7{
	position: absolute;
    width: 35px;
    margin-left: 620px;
    margin-top: -26px;
    height: 33px;
    z-index: 9999;
}
.fonthide3{
	margin-left: 6px;
    font-size: 12px;
}
.fonthide4{
	margin-left: 16px;
    font-size: 12px;
}
.hrstyle1{
    width: 36px;
    border-bottom: 1px solid white;
    margin-top: -170px;
    position: absolute;
    margin-left: 101px;
}
.fonthide5{
	color: #FF6600
}
.divStyle7:hover{
	background-color: white;
}
.Head1Font{
	margin-left: -30px;

}
.Head2Dome1:hover .Head2Dome2{
    background-color: white;
	display: initial;
	position: absolute;
}
.Head2Dome1 .Head2Dome2{
	display: none;
}
.Head2Dome2{
    border-left: 1px solid #6193d7;
    margin-top: 32px;
    width: 1086px;
    height: 36px;
    margin-left: -131px;
    font-size: 14px;
    border-bottom: 1px solid #6193d7;
    border-right: 1px solid #6193d7;
}
.Head2Dome3{
	margin-left: 15px;
}
.Head2Dome4{
    margin-top: 2px;
    position: absolute;
    border-left: 1px solid #66666669;
    margin-left: 5px;
    height: 17px;
}
.Head2picture2{
	height: 21px;
    margin-left: 72px;
    position: absolute;
    margin-top: -14px;
    width: 17px;
}
.Head2picture3{
    margin-left: 963px;
    margin-top: 6px;
    width: 22px;
    position: absolute;
}
.Head2Font3{
	margin-left: 988px;
    position: absolute;
    margin-top: 8px;
    color: black
}
.linkStyle2{
	color: black
}
.linkStyle2:hover{
	color: #6193d7
}
.Head2Dome5{
	margin-left: -193px;
}
.Head2picture4{
	margin-left: 132px;
}
.Head2Dome6{
	margin-left: 9px;
}
.Head2Dome7{
	margin-left: 2px;
}
.Head2Dome8{
	margin-left: -385px;
}
.Head2picture5{
	margin-left: 324px;
}
.Head2Dome9{
	margin-left: -449px;
}
.Head2picture6{
	margin-left: 387px;
}
.Head2Dome10{
    margin-left: -532px;
}
.Head2picture7{
	margin-left: 467px;
}
.Head2Dome11{
    margin-left: -596px;
}
.Head2picture8{
    margin-left: 534px;
}
.Head2Dome12{
	margin-left: -661px;
}
.Head2picture9{
	margin-left: 598px;
}
.Head2Dome13{
   margin-left: -785px;
}
.Head2picture10{
    margin-left: 715px;
}
.Head2Dome13{
	margin-left: -781px;
}
.Head2picture11{
	    margin-left: 795px;
}
.Head2picture12{
	position: absolute;
    width: 18px;
    margin-left: 966px;
    margin-top: 10px;
}
.Head2Dome14{
	margin-left: -1075px;
}
.Head2picture13{
   margin-left: 1018px;
}
.Head2Dome15{
	margin-left: -864px;
}
.Head3Dome{
    margin-top: 50px;
    width: 100%;
    height: 32px;
    position: absolute;
}
.Head3picture{
    height: 79px;
    position: absolute;
    width: 91px;
    margin-left: 181px;
    margin-top: -29px;
}
.Head3Font{
    font-size: 12px;
    position: absolute;
    margin-left: 195px;
    margin-top: 2px;
    color: white;
}
.Head3picture1{
    width: 18px;
}
.Head3Font1{
    font-size: 12px;
    color: #aaa29b;
    margin-left: 26px;
}
.Head3Font1:hover{
    color: #1974D1;
}
.Head3Dome1{
`position: absolute;
    margin-left: 239px;
    margin-top: -2px; 
}
.Head3picture2{
    margin-left: 5px;
    position: absolute;
    width: 18px;
    margin-top: 4px;
}
.Head3picture3{
    margin-left: -4px;
    width: 32px;
    margin-top: 1px;
}
.bodydome{
    width: 100%;
    height: 340px;
    margin-top: 84px;
}
#picture{
    width: 100%;
    height: 340px;
}
#picture1{
    margin-top: 299px;
    position: absolute;
    margin-left: -496px;
    width: 36px;
}
#picture2{
    margin-top: 299px;
    position: absolute;
    margin-left: -461px;
    width: 36px;
}
.bodydome1{
    margin-top: -322px;
    width: 545px;
    height: 300px;
    background-color: red;
    position: absolute;
    margin-left: 188px;
}
.bodydome2{
    margin-top: 0px;
    height: 300px;
}
.bodydome3{
    width: 96px;
    line-height: 40px;
    display: block;
    margin-left: -41px;
    height: 43px;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #2577e3;
}
.bodydome3:hover{
    border-left: 3px solid #FF9915;
    background-color: white;
    color: #158fff;
}
.bodydome4{
    margin-left: 95px;
    position: absolute;
    background-color: white;
    width: 450px;
    height: 301px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.bodydome5{
    margin-top: 19px;
    margin-left: -18px;
}
.bDisplacement{
    margin-left: 10px;
}
.underline{
    margin-left: 22px;
    position: absolute;
    width: 401px;
    height: 2px;
    margin-top: 3px;
    background-color: #C4C4C4;
    border-bottom: none;
}
.bodypicture{
    width: 56px;
    position: absolute;
    margin-left: 22px;
    margin-top: 3px;
}
.bodydome6{
    width: 450px;
    height: 262px;
    position: absolute;
    margin-top: 38px;
}
#bodydome{
    display: none;
}
#bodydome1{
    display: block;
}
.bodypicture1{
    margin-left: 93px;
}
#bodydome2{
    display: none;
}
.bodypicture2{
    margin-left: 156px;
    width: 42px;
}
#bodydome3{
    border-left: 3px solid #FF9915;
    background-color: white;
    color: #158fff;
}
#bodydome5{
    display: none;
}
#bodydome6{
/*    display: none;*/
}
#bodydome9{
    display: none;
}
#bodydome7{
    display: block;
}
#bodydome8{
    display: none;
}
#bodydome16{
    display: none;
}
.bodypicture3{
    width: 105px;
    height: 6px;
    margin-left: 93px;
}
.bodypicture4{
    height: 6px;
    margin-left: 211px;
    width: 56px;
}
.bodypicture5{
    width: 32px;
    position: absolute;
    margin-left: 22px;
    margin-top: 3px;
    height: 5px;
}
.bodypicture6{
    width: 32px;
    height: 6px;
    margin-left: 64px;
}
.bodypicture7{
    height: 6px;
    margin-left: 107px;
    width: 44px;
}
.bodypicture8{
        height: 6px;
    margin-left: 162px;
    width: 44px;
}
.bodypicture9{
    height: 6px;
    margin-left: 273px;
    width: 34px;
}
#bodydome17{
    display: none;
}
#bodydome18{
    display: none;
}
.bodypicture10{
        width: 69px;
    position: absolute;
    margin-left: 22px;
    margin-top: 3px;
    height: 5px;
}
#bodydome19{
    display: none;
}
#bodydome20{
    display: none;
}
.bodypicture11{
    width: 75px;
    position: absolute;
    margin-left: 22px;
    margin-top: 3px;
    height: 5px;
}
b{
    width: 63px;
    /* position: relative; */
    display: block;
    height: 36px;
    border-bottom: 1px dashed #aac3f1;
    font-weight: normal;
    margin-left: 17px;
}

.body2dome{
    width: 100%;
    height: 3423px;
    border-top: 1px solid #00000000;
    background: #f6f6f6;
}
.body2dome1{
    margin-left: 216px;
    width: 1098px;
    height: 38px;
    margin-top: 30px;
}
.body2dome2{
    margin-left: -83px;
}
.body2dome3{
    margin-left: 22px;
}
.body2dome4{
    border-top: 3px solid #3983E5;
    margin-left: 188px;
    width: 1125px;
    height: 385px;
    border-left: 1px solid #EDEDED;
    border-right:1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    background-color: white;
}
.body2picture{
    margin-left: 10px;
    width: 26px;
    margin-top: -17px;
    position: absolute;
}
#body2dome{
    display: block;
}
#body2dome1{
    display: none;
}
#body2dome2{
    display: none;
}
#body2dome3{
    display: none;
}
.body2picture1{
    margin-left: 77px;
}
.body2picture2{
    margin-left: 142px;
}
.body2picture3{
    margin-left: 210px;
}
.body2dome3:hover{
    color: #4786D3;
}
.body2font5{
    color: #4786D3
}
.fontcolor{
    color: #1974D1;
}
.body2dome5{
    margin-left: 22px;
    width: 1034px;
    height: 20px;
    margin-top: 12px;
}
.body2dome6{
    margin-left: -57px;
    font-size: 12px;
    margin-top: 2px;
}
.body2dome7{
    position: absolute;
    width: 36px;
    height: 20px;
    margin-top: -3px;
    margin-left: 16px;
    text-align: center;
    color: #4895EB;
}
.body2dome8{
    background-color: #3983E5;
    border:1px solid #3983E5;
    border-radius: 4px;
    color: white;
    margin-top: -4px;
}
.body2dome9{
    margin-left: 73px;
}
.body2dome9:hover{
    background-color: #3983E5;
    border:1px solid #3983E5;
    border-radius: 4px;
    color: white;
}
.body2dome10{
    width: 48px;
    margin-left: 130px;
}
.body2dome10:hover{
    background-color: #3983E5;
    border:1px solid #3983E5;
    border-radius: 4px;
    color: white;
}
.body2dome11{
    margin-left: 198px;
}
.body2dome11:hover{
    background-color: #3983E5;
    border:1px solid #3983E5;
    border-radius: 4px;
    color: white;
}
.body2dome12{
    margin-left: 255px;
}
.body2dome12:hover{
    background-color: #3983E5;
    border:1px solid #3983E5;
    border-radius: 4px;
    color: white;
}
.body2dome13{
    margin-left: 312px;
    width: 66px;
}
.body2dome13:hover{
    background-color: #3983E5;
    border:1px solid #3983E5;
    border-radius: 4px;
    color: white;
}
.body2dome14{
    width: 880px;
    height: 348px;
    margin-left: 10px;
}
#tt{
    margin-left: 86px;
    display: none;
    width: 392px;
    height: 192px;
    border:1px solid #DFDFDF;
    background-color: white;
    margin-top: -2px;
    position: absolute;
        z-index: 4;
}
.bodydome21{
    margin-top: 16px;
    width: 404px;
    height: 30px;
    margin-left: 22px;
}
.point{
    width: 332px;
    height: 23px;
    margin-left: 10px;
    position: absolute;
}
.bodyfont{
    font-weight: 100;
    color: black;
    font-size: 14px;
    margin-left: 12px;
}
.bodyfont1{
    margin-top: 9px;
    position: absolute;
    margin-left: 7px;
    font-size: 12px;
    font-weight: 100;
}
.bodydome22{
    margin-top: 31px;
    font-size: 13px;
    font-weight: 400;
    margin-left: -27px;
}
.bodydome23{
    margin-left: 7px;
}
.bodydome24{
    text-align: center;
    width: 35px;
    position: absolute;
    border-bottom: 2px solid blue;
    color: blue;
    height: 20px;
    margin-left: 1px;
}
.bodydome25{
    margin-top: 3px;
    width: 368px;
    height: 2px;
    background-color: #C4C4C4;
    margin-left: 0px;
}
.bodydome26{
    margin-left: 48px;
}
.bodydome27{
    font-size: 12px;
    height: 28px;
}
.bodydome27 td:hover{
    background-color: #2577E3;
    color: white;
}
a:hover{
    color: white;
}
a{
    color: black;
}
.bodydome28{
    margin-left: 36px;
    width: 192px;
    height: 35px;
    margin-top: 7px;
}
.bodyfont2{
    margin-top: 9px;
    position: absolute;
    margin-left: -16px;
    font-size: 14px;
}
.bodydome29{
    width: 125px;
    margin-left: 50px;
    height: 23px;
    margin-top: 3px;
}
.bodydome30{
    margin-left: 243px;
    margin-top: -36px;
}
.bodydome31{
    width: 
}
.bodydome31{
        height: 28px;
    width: 129px;
}
#test3{
    margin-left: 50px;
    width: 240px;
    height: 192px;
    border:1px solid #C6C6C6;
    background-color: white;
    display: none;
    position: absolute;
}
.bodydome32{
    font-weight: 500;
    color: black;
    font-size: 12px;
    margin-left: -23px;
    margin-top: 9px;
}
.bodydome33{
    line-height: 29px;
    display: block;
}
.bodydome34{
    margin-left: 22px;
    color: #C6C6C6;
}
#Less{
    height: 26px;
    margin-left: 148px;
    width: 31px;
    margin-top: 11px;
    position: absolute;
    text-align: center;
    background-color: white;
    border:1px solid;
    cursor: pointer;
}
#plus{
    position: absolute;
    height: 26px;
    margin-top: 11px;
    margin-left: 205px;
    width: 31px;
    text-align: center;
    background-color: white;
    border:1px solid;
    cursor: pointer;
}
.bodydome35{
    margin-top: 11px;
    margin-left: 178px;
    width: 20px;
    position: absolute;
    height: 20px;
    text-align: center;
}
#Less1{
    height: 26px;
    margin-left: 148px;
    width: 31px;
    margin-top: 40px;
    position: absolute;
    text-align: center;
    background-color: white;
    border:1px solid;
    cursor: pointer;
}
#plus1{
    position: absolute;
    height: 26px;
    margin-top: 40px;
    margin-left: 205px;
    width: 31px;
    text-align: center;
    background-color: white;
    border:1px solid;
    cursor: pointer;
}
#variety1{
    margin-top: 40px;
    margin-left: 178px;
    width: 20px;
    position: absolute;
    height: 20px;
    text-align: center;
}
.bodydome36{
    margin-top: 88px;
    border: 1px dashed #C6C6C6;
    width: 209px;
}
.bodydome37{
    margin-left: 16px;
    font-size: 12px;
    font-weight: 500;
}
.bodydome38{
    background-color: #2577E3;
    border: none;
    margin-top: 36px;
    width: 104px;
    height: 32px;
    border-radius: 4px;
    color: white;
    margin-left: 42px;
    text-align: center;
}
.bodydome39{
        margin-left: 14px;
    color: #74B6FF;
    font-size: 12px;
    font-weight: 500;
}
.bodydome40{
    border: 1px solid #c68c09;
    text-align: center;
    height: 33px;
    width: 137px;
    border-radius: 3px;
    background-color: #FFB000;
    color: white;
    margin-left: 261px;
    margin-top: 30px;
}
.bodydome41{
        margin-top: 5px;
    margin-left: 54px;
}
.bodydome42{
    margin-top: 11px;
    margin-left: 53px;
}
.bodydome43{
        margin-top: 4px;
    margin-left: 37px;
}
.bodydome44{
    margin-top: -50px;
    position: absolute;
}
.bodydome45{
    color: black;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 17px;
}
.bodydome46{
    margin-left: 17px;
}
#tt1{
    margin-left: 50px;
    background-color: white;
    border: 1px solid #EBEBEB;
    display: none;
    width: 414px;
    height: 178px;
    position: absolute;
    z-index: 9;
}
#tt2{
    margin-left: 50px;
    background-color: white;
    border: 1px solid #EBEBEB;
    display: none;
    width: 414px;
    height: 178px;
    position: absolute;
        z-index: 99;
}
.bodydome47{
        font-weight: 500;
    font-size: 14px;
    color: black;
    margin-top: 17px;
    margin-left: -20px;
}
.bodydome48{
    margin-left: 50px;
}
.bodydome49{
        margin-top: 47px;
}
.bodydome50{
        margin-top: 81px;
}
.bodydome51{
    margin-top: 48px;
    font-weight: 500;
    color: black;
    position: absolute;
    margin-left: -378px;
    color: blue;
}
#guanggao{
    width: 100px;
    height: 100px;
    background: rgb(0,0,0);
    position: fixed;
}
.point1{
    width: 100px;
}
.bodydome52{
    margin-left: 5px;
    margin-top: 27px;
}
.bodydome53{
    margin-left: 173px;
    margin-top: -30px;
}
.bodydome54{
        margin-left: 353px;
    width: 65px;
    height: 30px;
    margin-top: -33px;
}
.bodydome55{
    margin-top: 26px;
    font-weight: 500;
    color: black;
    margin-left: 21px;
}
.bodydome56{
    position: absolute;

    border-radius: 100px;
    width: 60px;
    height: 28px;
    text-align: center;
    background-color: #F7F7F7;
}
.bodydome56:hover{
    background-color: #cee2fe;
    color: blue;
}
.bodydome57{
    margin-left: 81px;
}
.bodydome58{
    margin-left: 150px;
}
.bodydome59{
    margin-left: 221px;
}
.bodydome60{
    margin-left: 290px;
}
.bodydome61{
    margin-left: 12px;
}
.bodydome62{
    margin-left: -14px;
    margin-top: 3px;
    position: absolute;
}
.bodydome63{
    position: absolute;
    margin-top: 3px;
    width: 40px;
    margin-left: -33px;
}
.bodydome64{
    margin-top: 80px;
}
.bodydome65{
    margin-left: -20px;
}
.bodydome66{
    margin-top: 138px;
}
.bodydome67{
    margin-top: -322px;
    display: block;
    margin-left: 283px;
}
.bodydome68{
    margin-top: 8px;
    margin-left: 36px;
}
.bodydome69{
    width: 99px;
}
.bodydome70{
    margin-left: 15px;
}
.bodydome71{
        margin-top: 9px;
}
.bodydome72{
    width: 150px;
}
.bodydome73{
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    color: black;
}
.point2{
    width: 296px;
}
.bodydome74{
    width: 55px;
}
.bodydome75{
    margin-left: 0px;
}
.body2picture4{
    width: 206px;
}
.body2dome15{
    margin-left: -36px;
}
.body2dome16{
    margin-left: 6px;
}
.body2dome17{
    margin-top: 183px;
}
.body2dome18{
    width: 221px;
    position: absolute;
    margin-left: 891px;
    margin-top: -340px;
}
.body2dome19{
    width: 110px;
    background-color: #00000069;
    border-radius: 50%;
    position: absolute;
    margin-top: -140px;
    height: 110px;
    margin-left: 47px;
    color: white;
}
.hr1{
    position: absolute;
    width: 96px;
    background-color: white;
    margin-top: 55px;
    margin-left: 6px;
}
.body2font6{
    margin-left: 41px;
    position: absolute;
    margin-top: 27px;
    font-weight: 600;
}
.body2font7{
    color: #FF5C00;
    font-size: 22px;
    position: absolute;
    margin-top: 61px;
    margin-left: 29px;
}
.body2font8{
    font-size: 12px;
    position: absolute;
    margin-top: 70px;
    margin-left: 69px;
}
.body2font9{
    margin-left: 19px;
    font-size: 12px;
    margin-top: 63px;
    position: absolute;
}
.body2dome20{
    margin-left: 263px;
}
.body2dome21{
    margin-left: 484px;
}
.body2dome22{
    margin-left: 704px;
}
.body2font10{
    margin-left: 17px;
}
.body2font11{
    margin-left: 8px;
}
.body2font12{
    margin-left: 30px;
}
.body2dome23{
    width: 207px;
    height: 155px;
    background-color: rgba(0, 0, 0, 0.55);
     display: none; 
    position: absolute;
    margin-left: -211px;
}
.body2dome24:hover .body2dome23{
    display: initial;
}
.body2dome25{
    margin-left: -207px;
}
.body2dome26{
    margin-left: 1034px;
    margin-top: 20px;
    position: absolute;
    font-size: 12px;
    color: #6193d7;
}
#japan{
    display: none;
}
.body2dome27{
    border-right: 1px dashed #CCCCCC;
    width: 227px;
    height: 385px;
}
.body2font13{
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 9px;
}
.body2dome28{
    margin-left: -27px;
    font-size: 12px;
    margin-top: 40px;
    color: #666;
}
.body2dome29{
    margin-left: 8px;
}
.body2dome29:hover{
    color: #5795E7;
}
.body2dome30{
    border-right: 1px solid #dfe2e2;
    margin-left: 9px;
}
.body2dome31{
    margin-top: 70px;
}
.body2font14{
    margin-top: 115px;
}
.body2dome32{
    margin-top: 152px;
}
.body2dome33{
    margin-top: 185px;
}
.body2dome34{
    margin-top: 222px;
}
.body2dome35{
        margin-left: 250px;
    margin-top: -369px;
}
.body2dome36{
    margin-left: 273px;
    width: 66px;
}
.body2dome37{
    margin-left: 343px;
    width: 66px;
}
.body2dome37{
    margin-left: 323px;
    width: 66px;
}
.body2dome38{
    margin-left: 387px;
}
.body2dome39{
    width: 48px;
    margin-left: 120px;
}
.body2dome40{
    margin-left: 180px;
}
.body2dome41{
    margin-left: 235px;
}
.body2dome7:hover{
        background-color: #3983E5;
    border:1px solid #3983E5;
    border-radius: 4px;
    color: white;
}
.body2dome42{
    margin-top: -1px;
    font-size: 13px;
    margin-left: 423px;
    color: #4895EB;
    position: absolute;
}
.body2picture5{
    position: absolute;
    margin-left: 449px;
    margin-top: -1px;
}
.body2picture6{
    height: 115px;
    width: 208px;
}
.body2dome43{
    width: 208px;
    height: 160px;
    margin-top: 8px;
    margin-left: 249px;
    position: relative;
}
.body2dome44 .body2picture6 {
    transition: all 0.3s;
}
.body2dome44 .body2picture6:hover{
    transform: scale(1.07);
}
#testbutton{
    width: 100px;
    height: 100px;
    background: black;
}
#adv{
    margin-left: 66px;
    position: fixed;
    top: 600px;
    left: 75px;
    width: 38px;
    height: 328px;
    background-color: #F6F6F6;
}
.move1{
    font-size: 12px;
    color: blue;
}
.move2{
    display: contents;
    line-height: 33px;
}
.move3{
    border-bottom: 1px solid #E8E8E8;
    float: left;
    width: 36px;
    text-align: center;
}
.move5{
    border:none;
}
#gotu0{
    height: 35px;
    float: left;
    display: none;
}
#gotu1{
    width: 28px;
    margin-left: 5px;
    height: 33px;
    float: left;
}
#gotu2{
    width: 28px;
    margin-left: 5px;
    height: 33px;
    float: left;
}
#gotu3{
    width: 25px;
    height: 30px;
    float: left;
    display: block;
    margin-left: 6px;
}
#gotu4{
    height: 32px;
    float: left;
    display: block;
    margin-left: 5px;
}
#gotu5{
    height: 28px;
    float: left;
    display: block;
    width: 21px;
    margin-left: 8px;
}
#gotu6{
    height: 30px;
    float: left;
    display: block;
    margin-left: 6px;
}
#gotu7{
    height: 26px;
    float: left;
    display: block;
    margin-left: 8px;
}
#gotu8{
    height: 28px;
    float: left;
    display: block;
    margin-left: 8px;
}
#gofont0{
    display: block;
}
#gofont1{
    display: none;
}
#gofont2{
    display: none;
}
#gofont3{
    display: none;
}
#gofont4{
    display: none;
}
#gofont5{
    display: none;
}
#gofont6{
    display: none;
}

#gofont7{
    display: none;
}
#gofont8{
    display: none;
}
#testtext{
    width: 0px;
    position: fixed;
    border:none;
    display: none;
}
.body2dome44{
    width: 208px;
    height: 116px;
    overflow: hidden;
}
.body2picture7{
    margin-left: 7px;
    margin-top: -2px;
    width: 65px;
    position: absolute;
}
.body2dome45{
    height: 46px;
    margin-top: -116px;
    margin-top: -13px;
}
.body2font15{
    color: #666;
    margin-left: 9px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.body2dome46{
    margin-left: 106px;
    margin-top: -75px;
}
.body2dome43:hover .body2dome45{
    box-shadow: #ccc 0px 0px 10px;
}
.body2dome47{
    margin-left: 465px;
    margin-top: -161px;
}
.body2dome48{
    margin-left: 681px;
}
.body2dome49{
    margin-left: 898px;
}
.body2dome50{
    margin-left: 465px;
    margin-top: -160px;
}
.body2dome51{
    margin-left: 681px;
}
.body2dome52{
    margin-left: 898px;
}
.body2picture11{
    margin-left: 25px;
}
.body2dome53{
    display: block;
    line-height: 33px;
}
.body2font16{
    margin-top: 215px;
}
.body2dome54{
    margin-top: 247px;
}
.body2dome55{
    width: 60px;
}
.body2dome56{
    margin-left: 227px;
}
.body2dome57{
    margin-left: 160px;
}
.body2dome58{
    margin-left: 92px;
}
.body2dome59{
    margin-left: 989px;
    margin-top: 56px;
}
.body2dome60{
    margin-left: 416px;
    margin-top: -521px;
}
.body2dome61{
    margin-top: 172px;
}
.body2dome62{
    margin-left: 1080px;
    margin-top: 7px;
}
.body2dome63{
    margin-left: -68px;
}
.body2picture12{
    width: 206px;
    height: 155px;
}
.body2dome64{
    margin-top: 550px;
}
.body2picture13{
    margin-left: 72px;
}
.body2dome65{
    margin-left: 143px;
}
.body2dome66{
     margin-left: 202px;
}
.body2dome67{
     margin-left: 246px;
}
.body2dome68{
    margin-left: 21px;
    margin-top: 6px;
    width: 210px;
    height: 106px;
    background-color: #F8F8F8;
    font-size: 12px;
    transition: all 0.4s;
}
.body2picture14{
    margin-left: 3px;
    width: 14px;
    position: absolute;
    margin-top: 1px;
}
.body2font16{
    margin-left: 21px;
}
.body2dome69{
    margin-top: 15px;
    margin-left: 10px;
    position: absolute;
}
.body2dome70{
    margin-top: 35px;
    position: absolute;
    margin-left: 11px;
}
.body2dome71{
    margin-left: -9px;
}
.body2dome72{
    color: white;
    border-radius: 5px;
    width: 57px;
    height: 26px;
    text-align: center;
    background-color: #FFB000;
    border: 0px;
    margin-left: 145px;
    margin-top: 64px;
}
.body2dome73{
    margin-left: 239px;
    margin-top: -106px;
}
.body2dome74{
    margin-left: 456px
}
.body2dome75{
    margin-left: 674px;
}
.body2dome76{
    margin-left: 891px;
}

.body2dome68:hover{
    box-shadow: #ccc  1px 1px 1px;
}
.body2dome77{
    margin-top: 68px;
}
.body2dome78{
    margin-top: 100px;
}
.body2dome79{
    margin-top: 135px;
}
.body2dome80{
    margin-top: 168px;
}
.body2dome81{
    margin-top: 204px;
}
.body2dome82{
    margin-top: 13px;
    margin-left: 240px;
}
.body2dome83{
    margin-left: 300px;
}
.body2dome84{
    margin-left: 353px;
}
.body2dome85{
    margin-left: 929px;
}
.body2dome86{
    margin-top: -54px;
    margin-left: 1058px;
}
.body2dome87{
    height: 260px;
}
.body2dome88{
    height: 260px;
    position: absolute;
}
.body2dome89{
    margin-top: 12px;
    width: 215px;
    height: 201px;
    margin-left: 240px;
    transition: all 0.4s;
}
.body2picture15{
    width: 215px;
    transition: all 0.4s;
}
.body2font17{
    line-height: 28px;
    margin-left: -251px;
    font-size: 12px;
    position: absolute;
    display: inline-grid;
    margin-top: 142px;
}
.body2font18{
    color: #999;
}
.body2dome90{
    margin-left: 112px;
    margin-top: -40px;
}
.body2dome91{
    margin-top: -201px;
    margin-left: 462px;
}
.body2dome92{
    margin-left: 683px;
}
.body2dome93{
    margin-left: 903px;
}
.body2dome89:hover{
    box-shadow: #ccc 0px 0px 10px;
}
.body2picture15:hover{
    transform: scale(1.07);
}
.body2picture16{
    margin-left: 55px;
}
.body2dome94{
    width: 51px;
}
.body2dome95{
    margin-left: 285px;
}
.body2dome96{
    margin-left: 215px;
}
.body2dome97{
    margin-left: 146px;
}
.body2dome98{
    margin-left: 81px;
}
.body2dome99{
    margin-left: 210px;
}
.body2dome100{
    margin-left: 430px;
}
.body2dome101{
    margin-left: 652px;
}
.body2dome102{
    height: 220px;
}
.body2dome103{
    height: 210px;
}
.body2dome104{
    width: 208px;
    height: 160px;
    margin-top: 8px;
    margin-left: 249px;
    position: relative;
}
.body2dome45:hover .body2dome44{
    box-shadow: #ccc  0px 0px 0px 10px;
}
.body2dome105{
    margin-left: -10px;
}
.body2font19{
    font-size: 12px;
    position: absolute;
    margin-top: -6px;
    margin-left: 9px;
    color: #666;
}
.body2font20{
    margin-left: 178px;
    border: 1px solid;
    font-size: 12px;
    color: #d18f00;
    margin-top: -8px;
    position: absolute;
}
.body2picture17{
    width: 210px;
    height: 153px;
}
/*.body2dome43{
    overflow: hidden;
}*/
.body2picture17{
    transition: all 0.3s;
}
.body2picture17:hover{
     transform: scale(1.07);
}
.body2dome106{
    height: 153px;
    overflow: hidden;

}
.body2dome107{
    width: 208px;
    height: 27px;
    background-color: #00000069;
    margin-top: -27px;
    position: absolute;
    margin-left: -10px;
    transition: all 0.5s;
}
.body2dome107:hover{
    height: 50px;
    margin-top:-50px;
}
.body2font21{
    color: white;
    font-size: 12px;
    margin-left: 42px;
}
.body2dome108{
    margin-top: -153px;
}
.body2dome109{
    margin-top: -153px;
}
.body2dome110{
    margin-top: -153px;
}
.body2dome111{
    margin-left: 210px;
}
.body2dome112{
    margin-left: 430px;
}
.body2dome113{
    margin-left: 652px;
}
.body2picture18{
    margin-left: 34px;
}
.body2dome114{
     height: 172px;
     background-color: #F6F6F6;
     border-top: 3px solid #3983E5;
     border-right: none;
     border-left: none;
     border-bottom: none;
}
.body2dome115{
    margin-top: 10px;
    width: 366px;
    height: 152px;
    background-color: white;
    border:1px solid #E3E3E3;
}
.body2dome116{
    width: 80px;
    height: 79px;
    border-radius: 100%;
    background-color: #ABCBF5;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
}
.body2picture19{
    width: 54px;
    margin-left: 13px;
    margin-top: 10px;
}
.body2font22{
    position: absolute;
    margin-left: 115px;
    margin-top: 17px;
}
.body2font23{
    color: #666;
    margin-top: 49px;
    font-size: 12px;
}
.body2font24{
    color: #666;
    margin-top: 70px;
    font-size: 12px;
}
.body2dome117{
    margin-top: 115px;
    position: absolute;
    width: 366px;
    height: 37px;
    border-top: 1px solid #E3E3E3;
}
.body2font25{
    font-size: 12px;
}
.body2dome118{
    border-right: 1px dashed #666;
}
.body2dome119{
    margin-left:30px;
}
.body2dome120{
    margin-left: -42px;
    margin-top: 6px;
}
.body2picture20{
    position: absolute;
}
.body2dome121{
    margin-left: 17px;
}
.body2dome123{
    margin-left: 12px;
}
.body2dome124{
    margin-left: 377px;
    margin-top: -1px;
}
.body2dome125{
    margin-left: 756px;
    margin-top: -154px;
}
.body2dome126{
    background-color: #CBE2B3;
}
.body2dome127{
    background-color: #F6DBB9;
}
.body2picture21{
    width: 25px;
}
.body2picture22{
    width: 22px;
}
.body2dome128{
    margin-left: 4px;
}
.body2dome129{
    margin-left: 37px;
}
.body2dome130{
    height: 120px;
    position: absolute;
}
.body2dome131{
    margin-top: 9px;
}
.body2dome132{
    background-color: #F8C2B3;
}
.body2dome133{
    background-color: #FBE09F;
}
.body2dome134{
    background-color: #C3CBFF;
}
.body2dome135{
    width: 1125px;
    height: 345px;
    background-color: white;
    margin-left: 188px;
    border:1px solid #e0e0e0;
}
.body2dome136{
    position: absolute;
    margin-left: 20px;
    margin-top: 13px;
}
.body2dome137{
    margin-top: 45px;
}
.body2dome138{
    text-align: center;
    float: left;
    width: 174px;
    border-right: 1px dashed #e0e0e0;
    height: 36px;
}
.body2picture23{
    width: 90px;
}
.body2dome139{
    border-right: none;
}
.body2dome140{
    margin-top: 100px;
    width: 1125px;
    height: 262px;
    position: absolute;
    border-top: 1px solid #e0e0e0;
}
.body2dome141{
    width: 1100px;
    height: 60px;
    margin-left: 12px;
}
.body2font26{
    font-size: 12px;
    font-weight: bold;
    color: #666;
    position: absolute;
    margin-top: 8px;
}
.body2dome142{
    margin-left: 7px;
    font-size: 12px;
    color: #b6b6b6;
}
.body2dome143{
    margin-left:33px;
}
.body2dome144{
    margin-top: 34px;
}
.body2dome145{
    margin-left: 36px;
}
.body2dome146{
    height: 35px;
    border-top: 1px dotted #e0e0e0;
}
.body2dome147{
    margin-left: 19px;
}
.body2dome148{
    margin-left: 22px;
}
.body3dome{
    width: 100%;
    height: 400px;
}
.body3dome1{
    border-right: 1px solid #dedede;
    margin-top: 30px;
    margin-left: 190px;
    width: 256px;
    height: 164px;
}
.body3font{
    color: #666;
}
.body3picture{
    margin-top: 30px;
    position: absolute;
    width: 45px;
    margin-left: -117px;
}
.body3font1{
    color: #2577e3;
    margin-left: -61px;
    position: absolute;
    margin-top: 32px;
    font-weight: 600;
}
.body3font2{
    position: absolute;
    color: #666;
    font-size: 12px;
    margin-top: 54px;
    margin-left: -61px;
}
.body3picture1{
    margin-top: 95px;
}
.body3font3{
    margin-top: 118px;
}
.body3dome2{
    margin-left: 447px;
    margin-top: -164px;
    width: 235px;
}
.body3font4{
    margin-left: 31px;
    color: #666;
}
.body3dome3{
    margin-left: -9px;
    line-height: 28px;
    display: grid;
    font-size: 12px;
    color: #666;
}
.body3dome4{
    margin-left: 98px;
}
.body3dome5{
    margin-left: 683px;
}
.body3dome6{
    margin-left: 919px;
}
.body3dome7{
    margin-left: 83px;
}
.body3dome8{
    margin-left: 1156px;
    height: 162px;
    width: 158px;
    margin-top: -165px;
}
.body3font5{
    font-size: 12px;
    color: #666;
    margin-left: 61px;
}
.body3dome9{
    border: 1px solid #dedede;
    margin-left: 23px;
    width: 134px;
    height: 155px;
}
.body3font6{
    font-size: 12px;
    color: #666;
    margin-left: 20px;
}
.body3picture3{
    margin-left: 11px;
    margin-top: 10px;
}
.body3dome10{
    margin-top: 65px;
    width: 1132px;
    height: 20px;
    margin-left: 189px;
}
.body3font7{
    font-size: 12px;
    color: #666;
    margin-left: 250px;
}
.body3dome11{
    margin-top: 6px;
}
.body3picture8{
    margin-left: 437px;
    width: 22px;
    position: absolute;
}
.body3font8{
    margin-left: 465px;
}
.body3font9{
    margin-left: 306px;
}
.body3picture10{
    margin-left: 260px;
    width: 1000px;
}
.hua{
    margin-top: 578px;
    position: fixed;
    width: 127px;
    height: 109px;
}
.huatu{
    margin-top: -21px;
}
.hua1tu{
    margin-left: 232px;
    z-index: 999999;
    position: absolute;
    margin-top: -19px
}
.hua1{
    margin-top: 546px;
    width: 100%;
    height: 179px;
    background-color: #00000069;
    position: fixed;
    margin-left: -1520px;
}
.hua2{
    margin-left: 1022px;
    position: absolute;
    height: 179px;
    width: 165px;
    background-color: #00000030;
}
.hua2tu{
    margin-left: 16px;
    width: 131px;
    margin-top: 35px;
}
.hua2font{
    position: absolute;
    font-size: 12px;
    color: #D8DADC;
    margin-left: 39px;
    margin-top: 12px;
}
.hua1tu2{
    width: 25px;
    margin-left: 1197px;
    margin-top: 14px;
}
.update{
    float: left;
    margin-left: 9px;
    overflow: hidden;
    width: 206px;
    height: 155px;
}
.update1{
    margin-left: 47px;
}
.body2picture12:hover{
    transform: scale(1.07);
}
.update2{
    z-index: 99;
    margin-left: 47px;
}
.update:hover .body2dome19{
    background-color: #0000009c;
}
.body2picture12{
    transition: all 0.3s;
}
.update3{
    color: #4786D3;
}
.update3:hover{
    color: #4786D3;
}
.update4:hover{
    color: black;
}
.update5{
    width: 91px;
    float: left;
    height: 37px;
    margin-top: -7px;
    font-size: 12px;
    text-align: center;
}
.update6{
    float: left;
    margin-top: 7px;
    margin-left: 19px;
}
.update7{
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}
.update8{
    margin-left: 7px;
}
.update9{
    border-right: 1px dashed #666;
    height: 24px;
    float: left;
}
.update5:hover{
    background-color: #e2eeff;
}
.update10{
    width: 25px;
    margin-left: 16px;
}
.update11{
    margin-left: 7px;
    width: 21px;
    margin-top: 9px;
}
.update12{
    width: 120px;
}
.update13{
    margin-left: 13px;
}
.update14{
    position: absolute;
    width: 366px;
    height: 114px;
}
.update14:hover{
    background-color: #e2eeff;
}
.body2dome130:hover{
    background-color: #e2eeff;
}
.update16{
    margin-left: 378px;
}
.update16:hover{
    background-color: #e2eeff;
}
.update17{
    color: #b6b6b6;
}
.update17:hover{
    color: blue;
}
#air{
    margin-left: 523px;
    z-index: 9999;
    position: fixed;
    width: 400px;
    height: 200px;
    background-color: white;
    margin-top: 183px;
    display: none;
}
.airfont{
    margin-left: 24px;
    margin-top: 10px;
    position: absolute;
    color: #3f7aa3;
}
#ban{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:#00000069 ;
    display: none;
    z-index: 999;
}
.airpicture{
    margin-left: 367px;
    width: 19px;
    margin-top: 9px;
}
.air1{
    width: 400px;
    height: 163px;
    margin-top: 5px;
    border-top: 3px solid #3983E5;
}
.air1picture{
    width: 22px;
    margin-left: 46px;
    margin-top: -16px;
    position: absolute;
}
#air1font{
    margin-left: 131px;
    margin-top: 47px;
    position: absolute;
    font-size: 31px;
    color: #666;
    display: none;
}
.airdome{
    text-align: center;
    float: left;
    border: 1px solid black;
    width: 131px;
    float: left;
}
#airdome1{
    margin-left: -40px;
}
.air1dome2{
    margin-top: 30px;
    margin-left: -40px;
    float: left;
}
#airdome2{
    /*display: none;*/
}
#airdome3{
    margin-top: 52px;
    /*display: none;*/
}
#air1{
    margin-left: 523px;
    z-index: 9999;
    position: fixed;
    width: 400px;
    height: 200px;
    background-color: white;
    margin-top: 183px;
    display: none;
}
.airdome4{
    margin-left: -40px;
}
#airdome5{
    margin-top: 30px;
    margin-left: -40px;
    display: none;
}
#air1font2{
    margin-left: 131px;
    margin-top: 47px;
    position: absolute;
    font-size: 31px;
    color: #666;
}
#airdome6{
    margin-top: 52px;
    margin-left: -40px;
    display: none;
}
.supdate{
 
    margin-left: 988px;
    width: 133px;
    height: 19px;
    position: absolute;
    margin-top: -35px;

}
#supdate1{
    border: 2px solid white;
    width: 13px;
    height: 13px;
    background-color: #0000007a;
    float: left;
    border-radius: 100%;
    margin-left: 7px;
}
#supdate2{
    border: 2px solid white;
    width: 13px;
    height: 13px;
    background-color: #0000007a;
    float: left;
    border-radius: 100%;
    margin-left: 7px;
}
#supdate3{
    border: 2px solid white;
    width: 13px;
    height: 13px;
    background-color: #0000007a;
    float: left;
    border-radius: 100%;
    margin-left: 7px;
}
#supdate4{
    border: 2px solid white;
    width: 13px;
    height: 13px;
    background-color: #0000007a;
    float: left;
    border-radius: 100%;
    margin-left: 7px;
}
#supdate5{
    border: 2px solid white;
    width: 13px;
    height: 13px;
    background-color: #0000007a;
    float: left;
    border-radius: 100%;
    margin-left: 7px;
}