.information40 {
    font-size: 25px;
    margin-top: 15px;
    position: absolute;
    margin-left: -33px;
}

.information41 {
    width: 100%;
    height: 300px;
    background-color: #F9F9F9;
    position: absolute;
}

.information42 {
    margin-left: 203px;
    height: 230px;
    float: left;
    border-right: 2px solid #eee;
    width: 238px;
}

.information43 {
    margin-left: 35px;
    margin-top: 38px;
}

.information44 {
    width: 179px;
}

.information45 {
    float: left;
    margin-left: -65px;
    margin-top: 42px;
}

.information46 {
    border-right: 0px;
}

.information47 {
    position: absolute;
    font-weight: 700;
    color: #343434;
    font-size: 20px;
    margin-left: -79px;
}

.information48 {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: white;
    margin-top: 437px;
}

.information49 {
    margin-top: 300px;
    position: absolute;
    width: 100%;
    height: 138px;
    background-color: #F6F6F6;
}

.enddome5 {
    margin-top: 10px;
    width: 930px;
    height: 200px;
    position: absolute;
    margin-left: 306px;
}

.endfont1 {
    font-size: 12px;
    color: #4c4c4c;
    border-right: 1px solid black;
    float: left;
    text-align: center;
    width: 55px;
    height: 11px;
}

.enddome6 {
    margin-left: -40px;
}

.endfont2 {
    width: 80px;
}

.endfont3 {
    margin-left: 4px;
    float: left;
    margin-top: -3px;
}

.enddome7 {
    margin-top: 27px;
    margin-left: 129px;
}

.endfont4 {
    width: 106px;
}

.endfont5 {
    position: absolute;
    font-size: 12px;
    color: #4c4c4c;
    margin-top: 41px;
    margin-left: 214px;
}

.endpicture {
    margin-top: 59px;
    width: 580px;
    margin-left: 149px;
}

.information50 {
    width: 209px;
    position: absolute;
    margin-top: 26px;
    margin-left: 362px;
    height: 100px;
}

.information51 {
    width: 76px;
}

.information52 {
    position: absolute;
    font-size: 20px;
    color: #343434;
    margin-top: 28px;
    margin-left: 13px;
}

.information53 {
    margin-left: 675px;
}

.information54 {
    margin-left: 972px;
}

body {
    margin: 0;
    text-decoration: none;
    padding: 0px;
}

div ul {
    display: inline;
    position: absolute;
    margin-top: 8px;
}

li {
    display: inline;
}

#dz1 {
    display: inline;
}

.Head {
    width: 100%;
    height: 35px;
    background-color: #F4F4F4;
}

.dome1 {
    margin-left: 176px;
    width: 77%;
    height: 35px;
}

.slogan {
    font-size: 11px;
    color: #666;
    display: inline-block;
    margin: 10px 0 0 14px;
    margin-left: 56px;
}

.font {
    margin-left: 4px;
    font-size: 11px;
    position: absolute;
    margin-top: 2px;
}

.img {
    position: absolute;
    margin-left: 60px;
    margin-top: -3px
}

.dome3:hover .dome2 {
    display: initial;
    position: absolute;
    margin-top: 33px;
    margin-left: -1px;
    width: 550px;
    height: 290px;
    border: 1px solid #dfe2e2;
    background-color: white;
    z-index: 9999;
}

.dome3 {
    width: 105px;
    height: 33px;
    margin-top: -8px;
    margin-left: -23px;
}

.dome3 .dome2 {
    display: none;
}

.text {
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
}

.dome3:hover {
    background-color: white;
    border: 1px solid #dfe2e2;
}

.Disorder {
    margin-left: 300px;
    margin-top: 5px;
}

.HeadFont {
    color: #0B6AD0;
    font-size: 12px;
}

.HeadFont1 {
    margin-left: 30px;
    font-size: 12px;
    color: #666;
}

.HeadFont2 {
    margin-left: 9px;
    font-size: 12px;
    color: #666;
}

.HeadFont3 {
    margin-left: 23px;
    margin-top: 8px;
    position: absolute;
}

.HeadFont4 {
    position: absolute;
    margin-left: 22px;
    margin-top: 8px;
}

.HeadFont5 {
    margin-left: 225px;
}

.picture {
    position: absolute;
    width: 10px;
    height: 16px;
    margin-left: 12px;
    margin-top: 6px;
}

.picture1 {
    position: absolute;
    margin-left: 14px;
    margin-top: 4px;
}

.picture2 {
    position: absolute;
    width: 10px;
    height: 16px;
    margin-left: 5px;
    margin-top: 6px;
}

.picture3 {
    width: 11px;
    position: absolute;
    margin-left: 5px;
    margin-top: 6px;
}

.dome4 {
    position: absolute;
    margin-left: 6px;
    position: absolute;
    width: 68px;
    background-color: #d6e2f2;
    margin-top: 6px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.dome5 {
    border-bottom-right-radius: 50%;
    position: absolute;
    width: 15px;
    background-color: #d6e2f2;
    margin-left: 74px;
    margin-top: 6px;
    border-top-right-radius: 50%;
}

.picture4 {
    margin-left: 102px;
    margin-top: 11px;
}

.picture5 {
    width: 15px;
    margin-top: 12px;
    margin-left: 9px;
}

.picture6 {
    margin-left: 9px;
    width: 19px;
    position: absolute;
    margin-top: 9px;
}

.picture7 {
    margin-left: 110px;
}

.picture8 {
    position: absolute;
    margin-left: 77px;
    margin-top: 11px;
}

.picture9 {
    margin-left: 209px;
}

.picture10 {
    margin-left: 13px;
    margin-top: 11px;
}

.Head1 {
    width: 100%;
    height: 80px;
}

.Head1Dome {
    margin-left: 210px;
    margin-top: 23px;
    position: absolute;
}

.Headpicture {
    width: 200px;
}

.Head1Dome1 {
    border: 1px solid #A4CBFF;
    border-radius: 4px;
    position: absolute;
    margin-top: 26px;
    margin-left: 449px;
    width: 345px;
    background-color: white;
    height: 28px
}

.enter {
    width: 298px;
    border-radius: 4px 0px 0px 4px;
    height: 26px;
    border: 1px solid #A4CBFF;
    margin-left: -1px;
    margin-top: -1px;
}

.search {
    border: 1px solid #A4CBFF;
    background-color: #A4CBFF;
    width: 46px;
    height: 29px;
    margin-top: -1px;
    position: absolute;
    border-radius: 0px 4px 4px 0px;
}

input::-ms-input-placeholder {
    font-size: 12px;
}

input::-webkit-input-placeholder {
    font-size: 12px;
}

.Head1Dome2 {
    margin-top: -62px;
    width: 213px;
    height: 44px;
    position: absolute;
    margin-left: 1080px;
    z-index: 2;
}

.table {
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #666;
}

.Head1picture {
    position: absolute;
    margin-left: 200px;
    margin-top: 23px;
}

ul:hover .table1 {
    display: initial;
    z-index: 99999;
    margin-left: 5px;
}

ul .table1 {
    display: none;
}

ul .table4 {
    display: none;
}

.table2 {
    margin-left: 115px;
}

.table3 {
    margin-left: 70px;
}

.Head1Dome2:hover {
    position: absolute;
    height: 100px;
    background-color: white;
    border: 1px solid #9B9B9B;
}

ul:hover .table4 {
    margin-left: 40px;
    z-index: 999;
}

.Head2 {
    z-index: 1;
    width: 100%;
    height: 40px;
    background-color: #2577E3;
    position: absolute;
}

.Head2Font {
    font-size: 15px;
    color: white;
}

.Head2picture {
    width: 9px;
}

.Head2Displacement {
    margin-left: 239px;
}

.Head2picture1 {
    position: absolute;
    width: 40px;
    margin-top: -15px;
    margin-left: -23px;
}

.Head2Dome {
    background-color: #0A56BB;
    width: 51px;
    position: absolute;
    margin-left: 174px;
    height: 40px;
    margin-top: -8px;
}

.Head2Displacement1 {
    position: absolute;
    margin-left: 11px;
    margin-top: 9px;
}

.Displacement {
    margin-left: -5px;
}

.country {
    width: 550px;
    height: 290px
}

.countryfont {
    margin-top: 2px;
    font-size: 12px;
    color: #9B9B9B;
    position: absolute;
    margin-left: 5px;
}

.countrypicture {
    width: 20px;
    margin-left: 9px;
}


/* td {
    width: 129px;
}

td:hover {
    background-color: #F4F4F4
} */

a {
    text-decoration: none;
    color: #333;
}

.linkStyle:hover span {
    color: #0B6AD0;
}

.dome6:hover .dome7 {
    border: 1px solid #BEBEBE;
    margin-left: -1px;
    display: initial;
    position: absolute;
    background-color: white;
    width: 56px;
    margin-top: 33px;
}

.dome6 .dome7 {
    display: none;
    font-size: 12px;
}

.hide {
    line-height: 30px;
    margin-left: -17px;
    display: block;
}

.divStyle {
    height: 33px;
    margin-left: 210px;
    position: absolute;
    margin-top: -26px;
    width: 96px;
    z-index: 2;
}

.divStyle:hover {
    background-color: white;
    border: 1px solid #BEBEBE;
}

.linkStyle1 {
    color: #666
}

.divStyle1 {
    width: 96px;
    margin-left: -23px;
}

.fonthide {
    margin-left: 22px;
}

.divStyle1:hover {
    background-color: #F4F4F4;
    color: #287BD4;
}

.dome8:hover .dome9 {
    border: 1px solid #BEBEBE;
    margin-left: -1px;
    display: initial;
    position: absolute;
    background-color: white;
    width: 80px;
    margin-top: 32px;
}

.dome8 .dome9 {
    display: none;
    font-size: 12px;
    line-height: 28px;
}

.divStyle2 {
    width: 97px;
    position: absolute;
    margin-left: 308px;
    margin-top: -26px;
    height: 33px;
    z-index: 2;
}

.divStyle2:hover {
    background-color: white;
    border: 1px solid #BEBEBE;
}

.divStyle3 {
    margin-left: -40px;
    width: 118px;
}

.divStyle3:hover {
    background-color: #F4F4F4;
    color: #287BD4;
}

.fonthide1 {
    margin-left: 22px
}

.divStyle4 {
    position: absolute;
    width: 102px;
    margin-left: 482px;
    height: 33px;
    margin-top: -26px;
}

.dome10:hover .dome11 {
    border: 1px solid #BEBEBE;
    display: initial;
    position: absolute;
    background-color: white;
    width: 61px;
    margin-top: 33px;
    z-index: 9999;
}

.dome10 .dome11 {
    display: none;
    font-size: 12px;
    line-height: 28px;
}

.divStyle4:hover {
    background-color: #2577E3;
    border: 1px solid #BEBEBE;
}

.divStyle5 {
    margin-left: -40px;
    width: 101px;
    margin-top: -1px;
    height: 28px;
}

.divStyle5:hover {
    background-color: #F4F4F4;
    color: #287BD4;
}

.divStyle6 {
    border-bottom: 1px solid white;
    margin-left: 585px;
    position: absolute;
    width: 33px;
    margin-top: -27px;
    height: 33px;
}

.dome13:hover .dome14 {
    display: initial;
    position: absolute;
}

.dome13 .dome14 {
    display: none;
}

.dome14 {
    width: 137px;
    margin-left: -105px;
    display: initial;
    position: absolute;
    border: 1px solid #BEBEBE;
    margin-top: 34px;
    z-index: 9999;
    height: 180px;
    font-size: 12px;
    color: #9B9B9B;
    background-color: white;
}

.dome15 {
    height: 29px;
    margin-top: 9px;
    background-color: #97bbf7;
}

.fonthide2 {
    font-size: 13px;
    margin-left: 21px;
    margin-top: 2px;
    position: absolute;
    color: white;
}

.divStyle6:hover {
    border: 1px solid #BEBEBE;
    border-bottom: white;
    background-color: white;
    z-index: 9999
}

.hrstyle {
    width: 36px;
    border-bottom: 1px solid white;
    margin-top: -153px;
    position: absolute;
    margin-left: 103px;
}

.dome16:hover .dome17 {
    display: initial;
    position: absolute;
    z-index: 999
}

.dome16 .dome17 {
    display: none;
    border: 1px solid #BEBEBE;
    width: 137px;
    margin-top: 33px;
    margin-left: -103px;
    height: 180px;
    z-index: 9999;
    background-color: white
}

.divStyle7 {
    position: absolute;
    width: 35px;
    margin-left: 620px;
    margin-top: -26px;
    height: 33px;
    z-index: 9999;
}

.fonthide3 {
    margin-left: 6px;
    font-size: 12px;
}

.fonthide4 {
    margin-left: 16px;
    font-size: 12px;
}

.hrstyle1 {
    width: 36px;
    border-bottom: 1px solid white;
    margin-top: -170px;
    position: absolute;
    margin-left: 101px;
}

.fonthide5 {
    color: #FF6600
}

.divStyle7:hover {
    background-color: white;
}

.Head1Font {
    margin-left: -30px;
}

.Head2Dome1:hover .Head2Dome2 {
    display: initial;
    position: absolute;
    background-color: white;
}

.Head2Dome1 .Head2Dome2 {
    display: none;
}

.Head2Dome2 {
    border-left: 1px solid #6193d7;
    margin-top: 32px;
    width: 1086px;
    height: 36px;
    margin-left: -129px;
    font-size: 14px;
    border-bottom: 1px solid #6193d7;
    border-right: 1px solid #6193d7;
}

.Head2Dome3 {
    margin-left: 15px;
}

.Head2Dome4 {
    margin-top: 2px;
    position: absolute;
    border-left: 1px solid #66666669;
    margin-left: 5px;
    height: 17px;
}

.Head2picture2 {
    height: 21px;
    margin-left: 72px;
    position: absolute;
    margin-top: -14px;
    width: 17px;
}

.Head2picture3 {
    margin-left: 963px;
    margin-top: 6px;
    width: 22px;
    position: absolute;
}

.Head2Font3 {
    margin-left: 988px;
    position: absolute;
    margin-top: 8px;
    color: black
}

.linkStyle2 {
    color: black
}

.linkStyle2:hover {
    color: #6193d7
}

.Head2Dome5 {
    margin-left: -190px;
}

.Head2picture4 {
    margin-left: 132px;
}

.Head2Dome6 {
    margin-left: 9px;
}

.Head2Dome7 {
    margin-left: 2px;
}

.Head2Dome8 {
    margin-left: -381px;
}

.Head2picture5 {
    margin-left: 324px;
}

.Head2Dome9 {
    margin-left: -445px;
}

.Head2picture6 {
    margin-left: 387px;
}

.Head2Dome10 {
    margin-left: -528px;
}

.Head2picture7 {
    margin-left: 467px;
}

.Head2Dome11 {
    margin-left: -592px;
}

.Head2picture8 {
    margin-left: 534px;
}

.Head2Dome12 {
    margin-left: -656px;
}

.Head2picture9 {
    margin-left: 598px;
}

.Head2Dome13 {
    margin-left: -781px;
}

.Head2picture10 {
    margin-left: 715px;
}

.Head2Dome13 {
    margin-left: -781px;
}

.Head2picture11 {
    margin-left: 795px;
}

.Head2picture12 {
    position: absolute;
    width: 18px;
    margin-left: 966px;
    margin-top: 10px;
}

.Head2Dome14 {
    margin-left: -1071px;
}

.Head2picture13 {
    margin-left: 1018px;
}

.Head2Dome15 {
    margin-left: -860px;
}

#A1 {
    width: 100%;
    height: 340px;
    background-color: #0A56BB;
    margin-top: 40px;
    background-size: 100% 100%;
    background-image: url("https://dimg04.c-ctrip.com/images/zg0k1a0000018s1ko525D.jpg");
}

#A11 {
    height: 255px;
    width: 265px;
    background-color: white;
    position: absolute;
    margin-left: 1033px;
    margin-top: 40px;
    border-radius: 5px;
}

#A12 {
    width: 220px;
    height: 200px;
    margin: 0 auto;
}

#A12 img {
    width: 50%;
    margin-top: 40px;
    margin-left: 55px;
}

#A13 {
    margin: 0 auto;
    width: 150px;
    border-radius: 5px;
    height: 30px;
    background-color: #ff7c5c;
    margin-top: 20px;
    transition: all 1S;
}

#A13 p {
    position: absolute;
    margin-left: 45px;
    text-align: center;
    margin-top: 3px;
    color: white;
}

#A13:hover {
    background-color: blue;
}

#A2 {
    margin: 0 auto;
    width: 1107px;
    height: 130px;
    /* background-color: rebeccapurple; */
    /* margin-top: 500px; */
}

.A21 {
    width: 80px;
    height: 120px;
    /* border: 1px solid salmon; */
    float: left;
    margin-left: 15px;
}

.A21 img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 20px;
}

.A21 p {
    position: absolute;
    margin-top: 0px;
    text-align: center;
    margin-left: 20px;
}

.A21:hover p {
    color: blue;
}

#A3 {
    margin: 0 auto;
    width: 1107px;
    height: 400px;
    /* background-color: cadetblue; */
}

#A22 {
    width: 200px;
    height: 140px;
}

#A22 img {
    margin-left: 700px;
    margin-top: 50px;
}

#A22 span {
    font-size: 32px;
    position: absolute;
    margin-left: 740px;
    margin-top: -45px;
}

.A31 {
    width: 265px;
    height: 370px;
    float: left;
    box-sizing: border-box;
    margin-left: 15px;
    border: 1px solid #F4F4F4;
    overflow: hidden;
}

.A32 {
    width: 100%;
    height: 260px;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
}

.A31:hover img {
    transform: scale(1.1);
}

.A31:hover {
    border: 1px solid blue;
}

.A31 img {
    width: 100%;
    height: 250px;
    transition: all .3S;
}

.A321 {
    /* width: 100px; */
    padding: 4px;
    margin-top: -35px;
    margin-left: 78px;
    height: 21px;
    color: #676767;
    border-radius: 7px;
    text-align: center;
    position: absolute;
    border: 1px solid #e6e6e6;
    background-color: white;
}

.A33 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    margin-top: -21px;
}

.A33 h5 {
    margin-top: -15px;
    margin-bottom: 10px;
    color: #666;
    font-weight: 500;
}

#A4 {
    width: 100%;
    /* height: 800px; */
    background-color: white;
}

.A41 {
    margin: 0 auto;
    width: 1107px;
    height: 700px;
    /* background-color: yellowgreen; */
}

.A42 {
    width: 260px;
    margin-bottom: 10px;
    height: 610px;
    float: left;
}

.A43 {
    width: 201px;
    height: 300px;
    float: left;
    margin-left: 10px;
    background-color: white;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid white;
}

.A44 {
    width: 150px;
    margin: 20px auto;
    margin-bottom: 10px;
    height: 150px;
    overflow: hidden;
}

.A44 img {
    width: 100%;
    height: 100%;
    transition: all 0.5S;
}

.A43:hover img {
    transform: scale(1.18);
}

.A43:hover {
    border: 1px solid rgb(87, 33, 236);
}

.A45 {
    padding: 20px;
}

.A46 {
    padding: 2px 8px;
    background-color: #2850ff;
    color: white;
    border-radius: 4px;
    font-size: 12px;
}

.A47 {
    font-size: 13px;
    font-weight: 400;
}

.A48 {
    margin-top: -15px;
    position: absolute;
    color: #d09c49;
    font-size: 12px;
}

.A45 p {
    color: #ff7c5c;
    font-size: 18px;
    margin-top: 5px;
}

.A41 h1 {
    font-weight: 500;
}

.A423 {
    position: absolute;
    width: 200px;
    height: 70px;
    background: hsla(0, 0%, 100%, .9);
    color: #343434;
    font-weight: 700;
    line-height: 70px;
    margin-top: 530px;
    margin-left: 30px;
}
.update{
margin-left: 1357px;
    width: 77px;
    height: 440px;
    background-color: red;
    position: absolute;
    z-index: 9999;
}
.update1{
        height: 42px;
    float: left;
    border: 1px solid;
    width: 75px;
    margin-left: -40px;
}
.update2{
        margin-top: 0px;
}
#nmsl{
    width: 50px;
    margin-left: 1292px;
    position: fixed;
}
#cang{
    display: none;
    
}
